# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# No semicolons
[*.{js,ts}]
semicolon = false

# Single quotes
[*.{js,mjs,cjs,ts,mts}]
quote_type = single

# Double quotes for HTML and CSS files
[*.{html,css,tsx,jsx}]
quote_type = double
