NODE_ENV=
NODE_TLS_REJECT_UNAUTHORIZED=

PUBLIC_STAGE=
PUBLIC_DOMAIN=

PUBLIC_GAMES_APP_VERSION=
PUBLIC_GAMES_APP_URL=

PUBLIC_CONTROL_APP_VERSION=
PUBLIC_CONTROL_APP_URL=

PUBLIC_MAINTENANCE_URL=

PUBLIC_GAMES_API_URL=

PUBLIC_GAMES_WS_URL=

PUBLIC_REDIRECT_API_URL=

PUBLIC_CONTROL_API_URL=

# no internal port (astro doesn't support running servers on different ports)
AUTH_API_PORT=
PUBLIC_AUTH_API_DOMAIN=
PUBLIC_AUTH_APP_URL=
PUBLIC_AUTH_API_URL=
PUBLIC_AUTH_API_VERSION=

PUBLIC_ACCESS_API_URL=

DOMAIN_API_URL=
AFFILIATE_API_URL=

# running in prod (webhook):
# GAMES_BOT_URL=
# GAMES_BOT_PORT=
GAMES_BOT_INTERNAL_PORT=

GAMES_DB_HOST=
GAMES_DB_HEALTH_HOST=
GAMES_DB_USER=
GAMES_DB_PASSWORD=
GAMES_DB_DATABASE=

GAMES_CACHE_HOST=
GAMES_CACHE_PASSWORD=

PUBLIC_TELEGRAM_BOT_ID=
PUBLIC_TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
# For running webhook (request actual token first):
# TELEGRAM_WEBHOOK_SECRET_TOKEN=

PUBLIC_VK_APP_ID=

BOVAPAY_API_URL=
BOVAPAY_API_KEY=
BOVAPAY_CALLBACK_URL=