# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/.env
**/.env.development
dist
generated
tmp
/out-tsc

# dependencies
node_modules
node_modules_unlinked
workspace.tar*

# IDE
.vscode/
.idea/
.project
.classpath
*.launch
*.sublime-workspace

# misc
npm-debug.log

# System Files
.DS_Store
Thumbs.db

# NX
.nx/cache

# Next.js
.next

# Local development certificates
ssl/local.*
