.dropdown {
  border: none;
  background-color: var(--mantine-color-bg);
  box-shadow: 0 0 0 2px var(--mantine-color-borders);
}

.divider {
  @apply mx-3 my-[10px];
}

.item:disabled {
  color: var(--mantine-color-red-6);
}
