.wrapper {
  margin-top: var(--mantine-spacing-xs);

  &[data-error="true"] {
    margin-bottom: 0;
  }
}

.input {
  @apply font-[450];
  @apply transition-colors placeholder:transition-colors;
  @apply placeholder-white/30;
  background-color: var(--mantine-color-input-bg);
  border-color: var(--mantine-color-input-bg);
}

.wrapper:hover .input:enabled,
.input:focus-within {
  @apply bg-[#2C2E49];
  @apply placeholder-white/40;
}

.input:focus-within {
  @apply outline outline-2 outline-purple-700;
}

.input[data-error="true"] {
  border-color: var(--mantine-color-input-border-error);
  transition-property: color, background-color, text-decoration-color, fill, stroke;
}

.wrapper .input[data-error="true"]:focus-within {
  border-color: var(--mantine-color-input-bg);
  outline-width: 2px;
  outline-color: var(--mantine-color-input-border-error);
}

.input:placeholder-shown {
  text-overflow: ellipsis;
}

.wrapper[data-disabled] {
  & .input {
    @apply text-white/70;
    background-color: var(--mantine-color-input-bg);
  }
  
  & .section {
    opacity: 0.6;
  }
}