.wrapper {
  margin-top: var(--mantine-spacing-xs);

  &[data-error="true"] {
    margin-bottom: 0;
  }
}

.input {
  @apply transition-colors;
  background-color: var(--mantine-color-input-bg);
  border-color: var(--mantine-color-input-bg);
}

.input:focus-within {
  border-color: var(--mantine-color-input-bg);
  outline: 2px solid var(--mantine-color-input-border-focus);
  outline-offset: 2px;
}

.input[data-error="true"] {
  border-color: var(--mantine-color-input-border-error);
  transition-property: color, background-color, text-decoration-color, fill, stroke;
}

.input[data-error="true"]:focus-within {
  border-color: var(--mantine-color-input-bg);
  outline-width: 2px;
  outline-color: var(--mantine-color-input-border-error);
}

.input:placeholder {
  color: #fff !important;
}

html body .input[data-disabled] {
  background-color: var(--mantine-color-input-bg);
  opacity: 0.6;
}
