.dropdown {
  @apply shadow-border;
  @apply bg-[#25273E] bg-opacity-90 backdrop-blur-md;
  border: none;
}

.divider {
  @apply mx-3 my-[10px] border-[#515268];
}

.item {
  @apply transition-colors;
}

.item:disabled {
  opacity: 0.75;
}

.item:hover,
.item[data-hovered],
.item:focus-visible,
.item:active {
  background-color: rgba(255,255,255,0.08);
}
