.overlay {
  @apply transform-gpu;
}

.content {
  --modal-content-bg-color: #1B1C2F;
  @apply will-change-transform bg-[--modal-content-bg-color];
  @apply scrollbar-hide;
}

.header {
  @apply bg-[--modal-content-bg-color] pt-3;
}

.content,
.header {
  @apply rounded-2xl;
}

.title {
  @apply text-lg font-medium;
}

.body {
  background-color: transparent;
}

.close {
  @apply transition-colors;
  color: var(--mantine-color-text);

  &:hover {
    background-color: #36384B;
  }
}
