.root {
  @apply will-change-transform shadow-border;
  background-color: #25273C;
}

.root + .root {
  @apply mt-[var(--mantine-spacing-xs)] md:mt-[var(--mantine-spacing-md)];
}

.description {
  color: var(--mantine-color-text);
}

.closeButton {
  @apply transition-colors;

  &:hover {
    background-color: #36384B;
  }
}
