.body input:checked + .track {
  background-color: var(--switch-color);
  border-color: var(--switch-color);

  & .thumb {
    background-color: #ffffff;
  }
}

.track {
  background-color: var(--mantine-color-input-bg);
  border-color: var(--mantine-color-borders);
}

.thumb {
  background-color: var(--mantine-color-text);
  border: none;
}