{
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "factories": ["@farfetched/core", "@withease/factories", "@effectify/core/client", "@effectify/core/server", "@effectify/core"]
      }
    ]
  ]
}